
.App-header {
  background-color: #fff;
}

.siteNav {
  float: right;
  padding: 2rem;
}

.navbutton {
  background-color: #5a5a5a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
}

.pf-logo {
  width: 345px;
  height: 70px;
  padding: 1rem 0 2rem 4rem;
}

.main-container {
  background-color: #e1e1e1;
  padding: 2rem 0;
}

.dashContainer {
  border: 1px solid black;
  display: flex; 
  width: 850px;
  margin: auto;
  padding: 4rem;
  background-color: #fff;;
}

.dashTitle {
  width: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight:bold;
  padding-bottom: 1rem;
}

.dashText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding-bottom:2rem;
}

.frameworkLogo {
  height: 20px;
  padding-left: 0.25rem;
}

.dashImage {
  width: 510px;
  height: 289px;
  padding-left: 1rem;
}

.button {
  background-color: #cf2322;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}